.btn-round {
    padding: 0.2375rem 0.2375rem 0.2375rem 0.2375rem;
    position: relative;
    font-weight: 500;
    border: 1px solid white;
    color: black;
    font-size: 1.1rem;
    color: #BE263B;
    background-color: #EB5757;
  }