.forget-password{
    margin: 10em auto;

}

.app-container {
    margin-top: 10em;
    font-family: sans-serif;
    padding: 1.8rem;
  }
  
  .app-container .forgotimage {
    display: table-cell;
    width: auto;
    position: relative;
    background-repeat: repeat-x;
  }
  .title {
    text-align: left;
    font-weight: bold;
    margin: auto;
    color: #800000;
    font-weight: bolder;
  }
  .subtitle {
    text-align: left;
    font: weight 10px;
  }
  .modal-body {
    text-align: center;
  }
  
  .app-modal-window .modal-dialog {
    width: 500px;
  }
  
  .app-container .appform-container {
    display: table;
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    border-radius: 20px;
    padding: 1.8rem;
    background: #fff;
    box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.1);
  
  }
  
  .sendbutton {
    background-color: #800000;
    color: #fff;
    padding: 18px 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 10px;
    border: none;
  }
  .btn-outline-dark {
    background-color: #800000;
    color: #fff;
    padding: 10px 5px;
    margin: 20px auto;
    width: 20%;
    border: none;
  }
  
  ::ng-deep .my-class .modal-dialog { 
    border-radius: 20px !important;
    width: 25%;
  }
  
  
  .icon {
    margin-top: -75px;
   
  }
  .app-container form {
    display: table-cell;
    width: 400px;
    background-color: #ffffff;
    padding: 40px 60px;
  }
  
  @media screen and  (max-width: 700px) {
    .app-container form {
      padding: 40px;
    }
    input[type="email"] {
        padding: 15px 20px;
        margin-top: 8px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 8px;
        box-sizing: border-box;
        width: 100% !important;
      
      }
      

      .tick {
        position: absolute;
        left: 0;
        color: green;
        transition: 0.3s;
        margin-top: -75px;
      }
      .tickclose {
        position: absolute;
        left: 0;
        color: red;
        transition: 0.3s;
        margin-top: -75px;

      }
      .sendbutton {
        background-color: #800000;
        color: #fff;
        padding: 18px 20px;
        margin-top: 10px;
        margin-bottom: 20px;
        width: 80%;
        border-radius: 10px;
        border: none;
      }
    
  }
  
  input[type="email"] {
    padding: 15px 20px;
    margin-top: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    width: 100%;
  }
  .iconsinput input[type="email"] {
    padding-left: 40px;
  }
  .iconsinput {
    position: relative;
  }
  .iconsinput i {
    position: absolute;
    left: 0;
    top: 9px 8px;
    transition: 0.3s;
    margin-top: 28px;
    margin-left: 20px;
  }
  .userIcon {
    position: absolute;
    left: 0;
    top: 9px 8px;
    transition: 0.3s;
    margin-top: -75px;
  } 
  .iconsinput input[type="email"]:focus + i {
    color: #800000;
  }
  
  .tick {
    position: absolute;
    left: 0;
    color: green;
    transition: 0.3s;
    margin-top: -75px;
    margin-left: 340px;
  }
  .tickclose {
    position: absolute;
    left: 0;
    color: red;
    transition: 0.3s;
    margin-top: -75px;
    margin-left: 340px;
  }
  input:invalid {
    background-color: #ffdddd;
  }
  
  input:valid {
    background-color: white;
  }
  input:required {
    border-color: #800000;
    border-width: 1px;
  }
  
  input:required:invalid {
    border-color: #c00000;
  }
  ng-invalid:not(input) {
    border: 1px solid red;
  }
  ng-valid:not(form) {
    border: 1px solid green;
  }
  
  .emailerror {
    color: red;
  }
  
  .logintxt {
    text-align: center;
  }
  .login {
    text-align: center;
    color: #800000;
  }
  