.btn-primary{
    background-color: #800000;
    color: #fff;
    width: 30%;
    border: none;
    height: 1%;
}
.btn-secondary-outline{
    background-color: transparent;
    border-color: red;
    color: red;
    width: 30%;
}
.modal-header {
    border-bottom: 0 none;
}

.modal-footer {
    border-top: 0 none;
}