@import "../custom";
@import "../components/variables";

.login-section {
  margin: 10em auto;
}
.title {
  text-align: $signuptext-align;
  font-weight: bold;
  margin: $signupautofield;
  color: #800000;
  font-weight: bolder;
}

.subtitle {
  text-align: $signuptext-align;
  font: weight $texpix;
}

.btn-round {
  background-color: $signupcolor;
  color: $colour;
  padding: 18px $twentypix;
  margin-top: $texpix;
  margin-bottom: $twentypix;
  width: $hundredwidth;
  border-radius: $texpix;
  border: none;
}

.icon {
  margin-top: $texpix;
}

.creataccc {
  text-align: center;
}
.create-acc {
  text-align: center;
  color: #800000;
}
.subtitle {
  text-align: $leftTextalign;
  font: weight $tenPx;
}
.cta-btn {
  background-color: $bajracolor;
  color: $primarycolor;
  padding: 18px $twentPX;
  margin-top: $tenPx;
  margin-bottom: $twentPX;
  width: $percWidth;
  border-radius: $tenPx;
  border: $bordernon;
}
.forget-pass {
  text-align: right;
  color: #800000;
}

.email-login {
  display: $flex;
  flex-direction: column;
  width: $fourHundPixel;
}
.email-login label {
  color: rgb(170 166 166);
}

input[type="text"],
input[type="password"] {
  padding: $fiftenpx $twentypix;
  margin-top: $eightpx;
  margin-bottom: $fiftenpx;
  border: 1px solid #ccc;
  border-radius: $eightpx;
  box-sizing: border-box;
  width: $WdtH;
}

.iconsinput input[type="text"],
input[type="password"] {
  padding-left: $signuppadding;
  border-radius: 6px;
}
.iconsinput input[type="alphanumeric"] {
  padding-left: $texpix;
}
.iconsinput {
  position: $signupRelposition;
}
.iconsinput i {
  position: $signupAbspositon;
  left: $lefT;
  top: 9px $eightpx;
  transition: $transi;
  margin-top: $marign28;
  margin-left: $twentypix;
}
.iconsinput input[type="text"]:focus + i {
  color: $signupcolor;
}
.iconsinput input[type="password"]:focus + i {
  color: $signupcolor;
}
.phNumber {
  margin-left: $margin120;
  margin-top: $seventyneg;
}
.phoneIcon {
  margin-left: $texpix;
  margin-top: $fiftyneg;
}
.fa-phone-alt {
  color: black;
}
.mateye {
  position: $signupAbspositon;
  left: $lefT;
  color: #aaa;
  transition: $transi;
  margin-top: -53px;
  margin-left: 360px;
}
.tick {
  position: $signupAbspositon;
  left: $lefT;
  color: $signupnoerrorcolor;
  transition: $transi;
  margin-top: $seventyneg;
  margin-left: $three50px;
}
.tickclose {
  position: $signupAbspositon;
  left: $lefT;
  color: $signuperrorcolor;
  transition: $transi;
  margin-top: $seventyneg;
  margin-left: $three50px;
}

.emailerror {
  color: $signuperrorcolor;
}
.passworderror {
  color: $signuperrorcolor;
}
.mat-radio-button {
  margin-left: $twentypix;
}
.invalid-feedback {
  display: block;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: $signupcolor !important; /*inner circle color change*/
}

::ng-deep.mat-radio-button.mat-accent.mat-radio-checked
  .mat-radio-outer-circle {
  border-color: $signupcolor !important; /*outer ring color change*/
}
.btn-outline-secondary .calendar {
  margin-top: $texpix;
}

@media screen and(max-width:700px) {
  input[type="text"] {
    padding: 15px 20px;
        margin-top: 8px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 8px;
        box-sizing: border-box;
        width: 100% !important;
      

  }
  
  input[type="password"] {
    padding: 15px 20px;
        margin-top: 8px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 8px;
        box-sizing: border-box;
        width: 80% !important;
        

  }
  .forget-pass {
    text-align: center;
  }

  .mateye {
    position: $signupAbspositon;
    left: $lefT;
    color: #aaa;
    transition: $transi;
    margin-top: -53px;
    margin-left: 265px;
  }
  .tick {
    position: $signupAbspositon;
    left: $lefT;
    color: $signupnoerrorcolor;
    transition: $transi;
    margin-top: $seventyneg;
    margin-left: 260px  !important;
  }
  .tickclose {
    position: $signupAbspositon;
    left: $lefT;
    color: $signuperrorcolor;
    transition: $transi;
    margin-top: $seventyneg;
    margin-left: 260px  !important;
  }
}
