@import "../custom";
@import "../components/variables";
@import "../components/mixins";


.login-section {
  margin: 10em auto;
}

@media screen and(max-width:700px) {
  input[type="text"] {
    padding: 15px 20px;
        margin-top: 8px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 8px;
        box-sizing: border-box;
        width: 80% !important;
    
  }
  
  input[type="password"] {
    padding: 15px 20px;
        margin-top: 8px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 8px;
        box-sizing: border-box;
        width: 80% !important;
        

  }
  .forget-pass {
    text-align: center;
  }

  .mateye {
    position: $signupAbspositon;
    left: $lefT;
    color: #aaa;
    transition: $transi;
    margin-top: -53px;
    margin-left: 265px;
  }

}
