@import "../components/variables";
.modal-header {
    border-bottom: 0 none;
}

.modal-footer {
    border-top: 0 none;
}
::ng-deep .modal-dialog-centered { 
    max-width: 50%;
    width: 50%;
}

.col i {
    position: absolute;
    left: 10px;
    top: 9px 8px;
    transition: 0.3s;
    margin-top: -34px;
    margin-left: 20px;
    
  }

  input[type="date"] {
    padding-left: 40px;
    border-radius: 6px;
    margin-top: 19px;
   
  }
  .tasknameerror {
    color: red;
    margin-right: 2em;
  }
  .modal-calandar{
    position: $positionAbsolute;
    left: $zeroValue;
    color:black;
    transition: $transition;
    margin-top: -3px;
  }