@import "../custom";
@import "../components/variables";
.tasktable {
    padding: 1rem 1rem 1rem 1rem;
    display: block;
    .task-tables {
        position: relative;
        padding: 0rem 0 0 0;
        &__data {
            padding: 1rem;
            margin-top: 0;
        }
    }
    .list-tables {
        margin: 0em 0em 0em 0em;
        padding: 0em 10em 0em 7em;
    }
}

.panel,
.panel-group .panel-heading+.panel-collapse>.panel-body {
    border: none;
}

.high {
    color: #EB5757;
}

.medium {
    color: #219653;
}

.low {
    color: #F2994A;
}

// .list-section {
//     height: 330px;
//     overflow: scroll;
//     width: 600px;
//     transform-origin: 188px 241px 0;
// }
// .accordion {
//     max-height: 390px;
//     overflow: hidden;
// }
// .accordion-item {
//     height: 220px;
//     width: 720px;
// }
.table__data {
    height: 400px;
    overflow-y: scroll;
}