<div class="modal-header">
    <h1 class="modal-title" id="ModalLabel">Create List</h1>
    <i class="fas fa-times" (click)="modalRef.close()"> </i>
</div>
<div class="modal-body">
    <div class="wrapper d-flex justify-content-between">
        <form [formGroup]="newListtask" #newlistform="ngForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="createlIst">Create New List</label>
                <input type="text" class="form-control form-control-lg" formControlName="ListName" name="ListName" size="40" placeholder="Create New List Here" />
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary-outline" (click)="modalRef.close()">
    Close
  </button>
    <button [disabled]="!newListtask.valid" class="btn btn-primary" (click)="onSubmit()" (click)="showToast()" (click)="modalRef.close('Ok click')">
    Add Task
  </button>
</div>