<!-- forget password section  -->
<section class="forget-password">
    <div class="container">
        <div class="row align-items-center col-md-8 shadow m-auto p-4">
            <div class="col-md-6">
                <form [formGroup]="forgotPasswordform" #resetemail="ngForm" (ngSubmit)="(resetemail.value)">
                    <h1 class="title">{{ title }}</h1>
                    <h2>{{ loginText }}</h2>
                    <p class="subtitle">{{ emailRegistrataion }}</p>
                    <br />
                    <div class="password">
                        <div class="iconsinput">
                            <p for="email">
                                <a>{{ emailLabel }}</a>
                            </p>
                            <input type="email" ngModel formControlName="email" placeholder="Enter Email" name="email" email id="validationCustom01" required />
                            <div class="userIcon">
                                <i class="fas fa-user" aria-hidden="true"></i>
                            </div>

                            <div class="tick" *ngIf="resetEmailController.email.valid; else elseBlock">
                                <i class="fas fa-check" aria-hidden="true"></i>
                            </div>
                            <ng-template #elseBlock>
                                <div class="tickclose">
                                    <i class="fas fa-times" aria-hidden="true"></i>
                                </div>
                            </ng-template>
                        </div>
                        <span class="emailerror" *ngIf="
                resetEmailController.email.invalid &&
                resetEmailController.email.touched
              ">
              {{ emailErrormsg }}</span
            >

            <div class="send-button">
              <button
                class="sendbutton"
                mat-raised-button
                color="primary"
                type="submit"
                [disabled]="!forgotPasswordform.valid"
                (click)="open(content)"
              >
                Send
              </button>
            </div>
            <p class="logintxt">
              <a class="login" routerLink="">Login</a>
            </p>
          </div>
        </form>
      </div>
      <div class="col-md-6">
        <div class="forgotimage">
          <img src="../../assets/forgotpassword.png" alt="" class="img-fluid" />
        </div>
      </div>
    </div>
  </div>
</section>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-body">
    <img src="../../assets/emailbox.png" width="140px" height="100px" />
    <h2>{{ emailSent }}</h2>
    <p>{{ resetTxt }}</p>
  </div>
  <button
    type="button"
    class="btn btn-outline-dark"
    (click)="c('Save click')"
    routerLink=""
  >
    Login
  </button>
</ng-template>